.navbar {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 101;
  top: 10px; /* Consistent position */
  left: 20px; /* Consistent position */
}

html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, purple, blue);
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 250px;
}

.nav-links li {
  margin-left: 100px;
}

.nav-links a {
  color: #fff;
  font-size: 18px;
  font-family: Montserrat;
}

.smalllogo {
  padding-top: 20px;
  padding-left: 20px;
  width: 60px;
}

h1 {
  position: absolute;
  font-family: Montserrat;
  border-style: none;
  color: white;
  top: 120px;
  left: 150px;
  animation: fadeInUp 1.5s ease-out forwards;
}

.screen {
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, purple, blue);
  overflow: hidden; /* Prevent content from spilling out */
}

.tabs {
  padding: 0;
  margin: 0;
  border-style: none;
  position: absolute;
  top: 105px; /* Adjusted to position at the top */
  right: 100px; /* Center horizontally */
  width: 3.5%;
  z-index: 101; /* Ensure it stays on top of other elements */
  animation: fadeInUp 1.5s ease-out forwards;
}

.main-scroll-div {
  width: 90%;
  height: 80%; /* Adjusted height for better centering */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  border-radius: 20px; /* Additional rounding for the scroll container */
  overflow: hidden; /* Prevent content spill */
  background: #29202f; /* Match background color */
  animation: fadeInUp 1.5s ease-out forwards;
}

.cover {
  position: relative;
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  display: flex;
  align-items: center; /* Center children vertically */
  justify-content: center; /* Center children horizontally */
}

.cover::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    to right,
    rgba(38, 29, 49, 0.9),
    rgba(38, 29, 49, 0)
  ); /* Faded effect */
}

.cover::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    to left,
    rgba(38, 29, 49, 0.9),
    rgba(38, 29, 49, 0)
  ); /* Faded effect */
}

.scroll-images {
  width: 100%; /* Full width of the cover */
  height: auto;
  display: flex;
  justify-content: center; /* Center scrolling items */
  align-items: center;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
  white-space: nowrap;
  animation: fadeInUp 1.5s ease-out forwards;
}

.child {
  min-width: 600px;
  height: 450px;
  margin: 1px 10px;
  cursor: pointer;
  overflow: hidden;
}

.child-img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.child-img:hover {
  transform: scale(1.1);
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.355); /* Semi-transparent overlay for modal */
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  background: none; /* Remove any background */
  border: none; /* Remove any border */
  padding: 0; /* Remove any padding */
  outline: none; /* Remove focus outline */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
